C#/TodoApi/obj/project.assets.json
C#/TodoApi/obj/project.nuget.cache
C#/TodoApi/obj/TodoApi.csproj.nuget.dgspec.json
C#/TodoApi/obj/TodoApi.csproj.nuget.g.props
C#/TodoApi/obj/TodoApi.csproj.nuget.g.targets
C#/TodoApi/obj/Debug/netcoreapp3.1/project.razor.json
C#/TodoApi/obj/Debug/netcoreapp3.1/TodoApi.AssemblyInfo.cs
C#/TodoApi/obj/Debug/netcoreapp3.1/TodoApi.AssemblyInfoInputs.cache
C#/TodoApi/obj/Debug/netcoreapp3.1/TodoApi.assets.cache
C#/TodoApi/obj/Debug/netcoreapp3.1/TodoApi.csprojAssemblyReference.cache
