C#/TodoApi/obj/project.assets.json
C#/TodoApi/obj/project.nuget.cache
C#/TodoApi/obj/TodoApi.csproj.nuget.dgspec.json
C#/TodoApi/obj/TodoApi.csproj.nuget.g.props
C#/TodoApi/obj/TodoApi.csproj.nuget.g.targets
C#/TodoApi/obj/Debug/netcoreapp3.1/project.razor.json
C#/TodoApi/obj/Debug/netcoreapp3.1/TodoApi.AssemblyInfo.cs
C#/TodoApi/obj/Debug/netcoreapp3.1/TodoApi.AssemblyInfoInputs.cache
C#/TodoApi/obj/Debug/netcoreapp3.1/TodoApi.assets.cache
C#/TodoApi/obj/Debug/netcoreapp3.1/TodoApi.csprojAssemblyReference.cache
C#/TodoApi/bin/Debug/netcoreapp3.1/appsettings.Development.json
C#/TodoApi/bin/Debug/netcoreapp3.1/appsettings.json
C#/TodoApi/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.InMemory.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/TodoApi.deps.json
C#/TodoApi/bin/Debug/netcoreapp3.1/TodoApi.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/TodoApi.pdb
C#/TodoApi/bin/Debug/netcoreapp3.1/TodoApi.runtimeconfig.dev.json
C#/TodoApi/bin/Debug/netcoreapp3.1/TodoApi.runtimeconfig.json
C#/TodoApi/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
C#/TodoApi/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
C#/TodoApi/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
C#/TodoApi/obj/Debug/netcoreapp3.1/staticwebassets/TodoApi.StaticWebAssets.Manifest.cache
C#/TodoApi/obj/Debug/netcoreapp3.1/staticwebassets/TodoApi.StaticWebAssets.xml
C#/TodoApi/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/TodoApi/obj/Debug/netcoreapp3.1/TodoApi.csproj.CopyComplete
C#/TodoApi/obj/Debug/netcoreapp3.1/TodoApi.csproj.CoreCompileInputs.cache
C#/TodoApi/obj/Debug/netcoreapp3.1/TodoApi.csproj.FileListAbsolute.txt
C#/TodoApi/obj/Debug/netcoreapp3.1/TodoApi.dll
C#/TodoApi/obj/Debug/netcoreapp3.1/TodoApi.genruntimeconfig.cache
C#/TodoApi/obj/Debug/netcoreapp3.1/TodoApi.MvcApplicationPartsAssemblyInfo.cache
C#/TodoApi/obj/Debug/netcoreapp3.1/TodoApi.pdb
C#/TodoApi/obj/Debug/netcoreapp3.1/TodoApi.RazorTargetAssemblyInfo.cache
.vscode/launch.json
.vscode/tasks.json
